In [1]:
print(666)

666

In [2]:
print("India")

India

In [3]:
print(999)

999

integer : 10,9,0,1000
float : 62.26,25.44,10.23,10.00
string: Anythinf in ("",'')
boolean : True , False

a = 10 # Assigning Value
10 ==10 # Comparing Value

In [11]:
num = []
for i in range(1,25,7):
    num.append(i)
    print(i)

1
8
15
22

In [15]:
# Complex Numbers = Realpart + Imaginary part = 2+3j

Tuple :- Tuple is an ordered collection of python objects.
         The Difference between tuple and list is that tuples are immutable

In [23]:
stud_data_tuple = ("Nik",8,13,"Nik")
print(stud_data_tuple)

('Nik', 8, 13, 'Nik')

In [25]:
# List
stud_data_list = ['Nik',8,13,"Nik"]
print(stud_data_list)

['Nik', 8, 13, 'Nik']

### Type Conversion

In [27]:
# Implicit Conversion
a = 10
b = 12.9
print(a+b)

22.9

In [32]:
# Explicit Conversion
a = "10"
b=12.9
print(int(a)+b)

22.9

In [37]:
a = "10"
b = 12.9
print(a+str(b))

1012.9

In [46]:
s = 'abc'
s1 = s + '103'
print(s1)

abc103

In [50]:
# HomeWork -- 1
Staff_name = str(input('Enter Your Name '))
Staff_age = int(input('Enter Your Age '))
retirement_age = 50
print(Staff_name,'has',(retirement_age - Staff_age),"Years","For retiring")

Enter Your Name Sandeep Dwivedi
Enter Your Age 21
Sandeep Dwivedi has 29 Years For retiring

In [58]:
# HomeWork -- 2
First_name = str(input('Enter Your First Name '))
Last_name = str(input('Enter Your Last Name '))
phoneNumber = int(input('Enter Your Phone Number'))

print('Thanks!!!',(First_name +" "+Last_name),"Visit Us Soon")

Enter Your First Name 3
Enter Your Last Name 3
Enter Your Phone Number36
Thanks!!! 3 3 Visit Us Soon

In [1]:
# Homework--3
a = int(input('Enter The Number ')) 
b = int(input('Enter The Number '))
print('Values Before swapping',a,b)
temp = a
a = b
b = temp
print('Values After Swapping',a,b)

Enter The Number 18
Enter The Number 35
Values Before swapping 18 35
Values After Swapping 35 18

In [7]:
a = 10
print(a)
# print(A)

10